
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.content{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100px;
  left: 100px;

}
.content h1{
  margin-bottom: 5px;
  font-size: 120px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Monument';
  color: #ff77f4;
  cursor: crosshair;
}

.digitS-cursor-follow{
  position: absolute;
  background: red;
  width: 60px;
  height: 60px;
  z-index: 5;
  user-select: none;
  pointer-events: none;
  transform: translate(5px,5px);
  border-radius: 9999px;
}
.secondSec-cursor-follow{
  position: absolute;
  background: url(/public/img/profileYK.jpeg) no-repeat 50% 50%;
  background-size: cover;
  width: 60px;
  height: 60px;
  z-index: 5;
  user-select: none;
  pointer-events: none;
  transform: translate(5px,5px);
  border-radius: 9999px;
}